{% extends "base.html" %}

{% block content %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" name="mydropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/drop_down">По убыванию цены</a>
    <a class="dropdown-item" href="#">По возрастанию цены</a>
  </div>
</div><div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <ul class="list-group">
                <form method="POST">
                    {% for category in categories %}
                    {% if category in mycheckboxes %}
                    <label><input type="checkbox" name="mycheckboxes" value="{{ category }}" checked> {{ category
                        }}</label><br>

                    {% else %}
                    <label><input type="checkbox" name="mycheckboxes" value="{{ category }}"> {{ category }}</label><br>
                    {% endif %}
                    {% endfor %}
                    <button type="submit" name="check_click">Submit</button>

                </form>

            </ul>
        </div>
        <div class="col-sm-9">
            {% for item in goods%}
            <div class="col-sm-5 border rounded">
                <h2>{{item.title}}</h2>
                <div>
                    {{item.content}}
                </div>
                <div>
                    {% if current_user.is_authenticated and (current_user == item.user or current_user.is_admin) %}
                    <div>
                        {% if current_user == item.user %}
                        <a href="/good/{{ item.id }}" class="btn btn-warning">
                            Изменить
                        </a>
                        {% endif %}

                        <a href="/good_delete/{{ item.id }}" class="btn btn-danger">
                            Удалить
                        </a>
                    </div>
                    {% endif %}
                    <a href="/korzina/{{ item.id }}" class="btn btn-warning">
                        Корзина
                    </a>

                    Цена - {{item.price}}, Старая цена - {{item.old_price}}
                    Категории:
                    {% for item in item.categories %}
                    {{ item.name }}
                    {% endfor %}

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>
{% if current_user.is_authenticated and current_user.is_seller %}
<a href="good" class="btn btn-secondary">Добавить товар</a>
{% endif %}
{% endblock %}